<div id='forgot-password'>
	<div>
		<a (click)='showForgotPassword()'>Forgot Password?</a>
	</div>
	<div *ngIf='forgotPassword' id='password-modal'>
		<div class='confirmation-alert'>
			<div class="confirmation-title">
				Forgot Password?
			</div>
			<div class="confirmation-body">
				Enter email you use to sign into your account.
				<br />
				You will be sent a link to reset your password.
				<br />
				<br />
				<input type='text' [(ngModel)]='resetEmail' placeholder='Email'/>
			</div>
			<div class="confirmation-buttons">
			<button class="action-button" (click)="hideForgotPassword()">Cancel</button>
			<button class="action-button" (click)='sendResetEmail()'>Send Email</button>
			</div>
		</div>
	</div>
</div>
