<div id='reset-password'>
	<div id='reset-container'>
		<h1>Reset Password</h1>
		<div class="error-message-container" *ngIf="errorMessage">
			<div class="error-message">{{errorMessage}}</div>
		</div>
		<p>Please enter and confirm your new password.</p>
		<div>
			<input type='password' (input)='newPassword=$event.target.value' placeholder='New Password'/>
		</div>
		<div>
			<input type='password' (input)='confirmNewPassword=$event.target.value' placeholder='Confirm New Password'/>
			<br /><span *ngIf='confirmNewPassword && newPassword !== confirmNewPassword' class="password-message">Passwords do not match</span>
		</div>
		<div>
			<input type='button' value='Change Password' (click)='updatePassword()' [disabled]="!newPassword || newPassword !== confirmNewPassword"/>
		</div>
		<event-message></event-message>
	</div>
</div>
